footer {
    width: 100%;
    background-color: rgb(33,37,41);
    height: 63px;
    color: #d8d8d8;
    /* margin-top: auto; */
    position: relative;
    left: 0;
    bottom: 0;
}
.mar-0{
    margin: 0;
}

.footer-p {
    text-align: center;
    padding-top: 4px;
    margin: 0;
    
}

.foot {
    display: flex;
    justify-content: space-evenly;
    margin: 0 50px;;
}
.pad{
    margin: 0 12px;
}
.devv{
    font-size: 16px;
    margin: 0;
}
.devv-b{
    font-size: 20px;
    color: #fe00bf;
}
.a-class{
    color: #3b2525;
    padding: 5px;
    background-color: #c1b2a1;
    border-radius: 6%;
    text-decoration: none;
    transition: 0.2s ease-in;
}
.a-class:hover{
    background-color: #453e37;
    color: rgb(131, 120, 120);
    transition: 0.2s ease-out;
}
@media screen and (max-width:768px){
    footer{
        height: 95px;
    }
    .footer-p {
        text-align: center;
        padding-top: 4px;
        margin: 0;
        font-size: 12px;
      }
      .foot {
        font-size: 15px;
        flex-direction: column;
row-gap: 2px;
align-items: center;
      }
      .devv {
        margin: 0;
          margin-right: 0px;
        font-size: 14px;
        margin-right: 25px;
      }
      .devv-b {
        font-size: 18px;
      }
      .mar-0 {
        font-size: 13px;
      }
      .a-class {
        font-size: 12px;
      }
}